@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --primary-color: #333; /* Define your primary color */
  --font-family: "Inter", sans-serif; /* Define your font family */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family); /* Use font family variable */
  background-color: #f1f5f9;
}
.image-style {
  background-color: #f1f5f9;
}
.banner-rotated {
  display: flex;
  justify-content: center;
  overflow: hidden; /* Ensure that the overflow is hidden */
}

.banner {
  width: 100%; /* Ensure the banner takes full width */
}

.banner-content {
  position: relative; /* Make the content positioning context for absolute positioning */
}

.text img {
  width: 100%; /* Make the first image take full width */
}

.image {
  position: absolute; /* Position the second image absolutely */
  left: 0; /* Adjust the position as needed */
  top: 0; /* Adjust the position as needed */
}

.image img {
  max-width: 100%; /* Ensure the second image doesn't exceed its container's width */
}

.text .btn {
  background-color: #2783f3;
  padding: 10px;
  text-decoration: none;
  color: white;
  border: none;
}
.contact-form {
  max-width: 700px;
  margin: 0 auto;
  /* margin-top: 20px; */
  align-items: center;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 60px;
}

.contact-form h2 {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

.contact-form p {
  margin-bottom: 20px;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
}

.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group textarea {
  height: 100px;
}

button[type="submit"] {
  background-color: #2783f3;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button[type="submit"]:hover {
  background-color: #1e6cc7;
}
.form-section {
  background-color: #f1f5f9;
}
